.header{
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    background-color:white; 
}
.site-slogan{
    width: 420px;
    margin-left: 50px;
    text-align: center;
    background-color: white;
}
h2{
    font-size: 45px;
    background-color: white;
}